<!DOCTYPE html>
<html>

<head>
    <title>Handling of http get request</title>
    <style>
        div {
            width: 400px;
            border: 1px solid green;
            padding: 10px;
            margin-bottom: 5px;
        }
    </style>
</head>

<body>

    <div>
<!-- url_for will route the forms request to
appropriate function that user made to handle it.-->
<!--we will Retrieve submitted values of inputs
on the backend side using 'name' field of form.-->
        <h1>Handle GET Request</h1>
        <form method="GET"
              action="{{ url_for('recommend_movies',title='') }}">
            <input type="text"
                   name="title"
                   placeholder="Enter movie title">

            <button type="submit">recommend</button>
        </form>
    </div>

<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
</body>

</html>
